# Força o GitHub a ignorar o HTML nas estatísticas e focar na lógica
*.html linguist-detectable=false

# Garante que o CSS e o JavaScript sejam os protagonistas
*.js linguist-detectable=true
*.css linguist-detectable=true

# Se você quiser que o código dentro do HTML seja contado como JS:
*.html linguist-language=JavaScript
